{
  "extends": "airbnb",
  "rules": {
    "no-console": "warn",
    "yoda": ["warn", "always", { "exceptRange": false }]
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}
